html {
  font-size: 15.11px;

  @media(min-width: $small) {
    font-size: 17px
  }

  @media(min-width: $medium) {
    font-size: 21.5px
  }

  @media(min-width: $large) {
    font-size: 23.5px
  }

  @media(min-width: $huge) {
    font-size: 25.5px;
  }
}

body {
  margin: 59px auto 0;
  background: $base;
  color: $text;
  font-family: Arimo, sans-serif;
  min-height: 100vh;
}
