html {
  font-size: 25.5px;

  @media(max-width: 768px) {
    font-size: 20px
  }

  @media(max-width: 480px) {
    font-size: 15.11px;
  }
}

body {
  margin: 59px auto 0;
  background: $base;
  color: $text;
  font-family: Arimo, sans-serif;
  min-height: 100vh;
}
