$base: #FCF5E5;
$text: #00034C;
$active: #06132F;
$text-active: #fff;

$huge: 1600px;
$large: 1050px;
$medium: 769px;
$small: 420px;

@mixin level-extra {
  font-family: "Libre Baskerville", serif;
  font-size: 7.33rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
}

@mixin level1 {
  font-family: "Libre Baskerville", serif;
  font-size: 4.235rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.64px;
}

@mixin level2 {
  font-size: 2.61765rem;
  font-style: normal;
  line-height: 132.5%;
  font-weight: 700;
}

@mixin level3 {
  font-size: 1.618rem;
  font-style: normal;
  line-height: 135%;
  font-weight: 400;
}

@mixin level4 {
  font-size: 0.618rem;
  font-style: normal;
  line-height: 135%;
  font-weight: 400;
}